body {
  font-size: 16px;
  color: #fff;
  background-color: #f6b319;
}

#header-nav{
  background-color: #f61319;
  border-radius: 0;
  border: 0;
}

.navbar-brand{
  padding-top: 15px;
}

.navbar-brand h1{/* Restaurant name */
  font-family: 'Lobster', cursive;
  color: #fff;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0px;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}

#nav-list{
  margin-top: 10px;
}

#nav-list a{
  color: #951C49;
  text-align: center;
}

#nav-list a:hover{
  background: #e7e7e7
}

#nav-list a span{
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle{
  clear: both;
  margin-top: -30px;
}

/* Main Page */
h1{
  font-family: 'Sriracha', cursive;
}

.texto{
  height: 1000px;
  background-color: #fff;
  border: 2px solid black;
  padding: 5px;
}

.texto p{
  color: red;
}

.texto p a:hover, .texto p a:focus{
  
  text-decoration: none;
}
/* Large devices */
@media (min-width: 1200px) {

}

/* Medium devices */
@media (min-width:992px) and (max-width:1199px) {

}

/* Small devices */
@media (min-width:768px) and (max-width:991px) {

}

/* Extra small  devices */
@media (max-width:767px) {
  .navbar-brand{
    padding-top: 10px;
    height: 80px;
  }
  .navbar h1{
    padding-top: 10px;
    font-size: 5vw;
  }
  .navbar-brand p{
    font-size: .6em;
    margin-top: 12px;
  }
  #collapsable-nav{
    background-color: #fff;
  }
  #collapsable-nav a{
    font-size: 1.2em;
  }
}
